
.container-fluid{
background-image: url(/imagenes/duotone.jpg);
background-repeat: no-repeat;
background-size:cover;

}
#Aside{
    /*background-color: #ededd8;*/
    background-color:rgba(0, 0, 0, 0.2) ;
}
.btn-aside{
    background-color:rgba(0, 0, 0, .0);
    color: white;
    width: 100%;
    margin-top:2rem;
}
.btn-aside:hover{
    color: white;
    background-color:rgba(0, 0, 0, .0);
}
#img-logo{
    background-color:rgba(0, 0, 0, .0) ;
    width: 100%;
    padding-top: 1rem;
}
/*Cambio de tamaño de letra menu izquierdo*/
.nav-item a{
font-size: x-large;
}
#header{
    padding: 1rem;
    margin: 1rem;
    color: white;
}
/*Cambio de lugar boton de idiomas*/
#btn-languages{
    margin: 2rem;
}
#second-header{
    padding: 1rem;
    color: white;

}
#imgs-section{
    padding: 1rem;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: start;
}
.card-section{
    width: 21rem;
    height: auto;
    margin-bottom: 1rem;
    background-color:rgba(0, 0, 0, 0.2) ;
}
.more-info{
    display:none;
    color: white;
}

.more-info span:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.descripcion{
    display: inline-block;
}
#name{
    color: white;;
}
.btn-hide{
    display: none;
}
.card-body{
    background-color:rgba(0, 0, 0, 0.2) ;
}
/* #Paginacion{
display: flex;
justify-content: center;
} */
#Footer{
    /*background-color: #ededd8;*/
    /*padding-top: 1rem;*/
    color: white;
    background-color:rgba(0, 0, 0, 0.2) ;
}
#social-media{
    padding: 1rem;
}
#Menu_flotante{
    position: fixed;
    margin-top:10px;
    z-index: 1;

}

#title1{
  
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 28px;
    color: #39a5d7;
    text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
      -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
      3px 3px #414d68, 4px 4px #414d68;
  }


#title {
  
    font-family: Comic Sans MS;
  
    font-size: 42px;
    color: #2f9acb;
    text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
      -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
      3px 3px #414d68, 4px 4px #414d68, 5px 5px #414d68, 6px 6px #414d68,
      7px 7px #414d68, 8px 8px #414d68, 9px 9px #414d68;
  }

#title3{
  
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 22px;
    color: #ffffff;
    text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
      -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
      3px 3px #414d68, 4px 4px #414d68;
  }
  
#title2{
  
      
    color: #ffffff;
    text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
      -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
      3px 3px #414d68, 4px 4px #414d68;
  }
  