
#imagenlogin {
  max-width: 50%;
  max-height: 50%;
  opacity:0.5;
 }

 
body{
  background-image: url(/assest/duotone.jpg);
background-repeat: no-repeat;
background-size:cover;
}


#cardlog{
  background-color: rgba(0,0,0,0.5)
}

#linklog {
  font-size: small;
  text-align: left;
  
}

#linklog:link {
  color: #75a2b8;
}
#linklog:hover{
  background: rgb(79, 88, 92);
}






































/* body{
  background-image: radial-gradient(circle at 14.64% -11.24%, #164b4b 0, #134b4f 5%, #124b52 10%, #134a55 15%, #154a57 20%, #184959 25%, #1c495b 30%, #21485d 35%, #26475e 40%, #2c465f 45%, #31455f 50%, #36445f 55%, #3c435e 60%, #41415d 65%, #45405c 70%, #4a3f5a 75%, #4e3e57 80%, #513d55 85%, #553c52 90%, #583b4f 95%, #5a3a4c 100%);
background-repeat: no-repeat;
background-size:cover;
}


.container{
background-image: linear-gradient(180deg, #cce0dd 0, #cce0de 4.55%, #cbe0e0 9.09%, #cbe0e2 13.64%, #cbe0e3 18.18%, #cce0e5 22.73%, #ccdfe6 27.27%, #cedfe7 31.82%, #cfdfe8 36.36%, #d0dee9 40.91%, #d2deea 45.45%, #d4ddea 50%, #d6dcea 54.55%, #d8dcea 59.09%, #dadbe9 63.64%, #dddbe9 68.18%, #dfdae8 72.73%, #e1dae7 77.27%, #e3d9e5 81.82%, #e5d9e4 86.36%, #e6d8e2 90.91%, #e8d8e1 95.45%, #e9d8df 100%);



}

img {
  max-width: 50%;
  max-height: 50%;
 }

 .bg{
  background-image: url(imagenes/Log1.png);
 } */