body{
    background-color: deepskyblue;
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}


h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

aside{
    float: left; 
    width: 300px;
    height: 400px;
    background: whitesmoke;
}

#formulario{
    float: right; 
    width: 1000px;
    height: 400px;
    margin-top: 0.5px;
}

footer{
	height: 40px;
	background: grey;
	color: #FFFFFF;
	clear: both;
}

footer p{
	font-size: 15px;
	font-family: arial;
	text-align: center;
	line-height: 30px;
}